!.gitignore

# Rider stuff (IDE)
/.idea
/.vscode
*.DotSettings.user


# build artifacts
/bin
bin/Debug/
/obj
**/bin
**/obj
/.vs/*
/log4net.config
/.build/*

appsettings.json
/Library/*
/Temp/*
/Logs/*

#Test ignore
*.png
*.jpg
*.docx
/.vs/BottApp/v17/
BottApp.Host/wwwroot/*
BottApp.Host/DATA/*

*.HEIC
